<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="HostFooterFragment">
<div class="footer">
  <div class="footer_wrap">
    <div>
      <strong>(주) Habit Borker</strong>
    </div>
    <div>
      주소 : 서울특별시 강남구 테헤란로 124 4층(역삼동, 삼원타워)
    </div>
    <div>
      <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
    </div>
    <div>
      <a href="#">개인정보 처리방침</a> |
      <a href="#">이용약관</a> |
      <span>개인정보취급책임자 : 김태윤</span>
    </div>
    <div>
      <br>COPYRIGHT &copy;HABIT
    </div>
  </div>
</div>