<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/defaultLayout :: defaultLayout (~{::head}, ~{::title}, ~{::section})}">
<head>
  <script th:src="@{/js/member/login.js}"></script>
  <link rel="stylesheet" th:href="@{/css/member/login.css}">
</head>
<title>로그인 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

<section>
  <!-- 본문 시작 -->
  <div class="Home">
    <div class="Home_top">
      <h3>로그인</h3>
    </div>

    <div class="Home_loginForm">
      <div th:if="${error!=null}" style="color: red; margin-bottom: 3px; text-align: center" th:text="${error}"></div>
      <form th:action method="post" th:object="${loginDto}">
        <div class="Home_loginForm_input"><input type="text" th:field="*{mem_id}" placeholder="아이디(이메일)"></div>
        <div class="Home_loginForm_input"><input type="password" th:field="*{mem_pw}" placeholder="비밀번호"></div>
        <div style="text-align: center">
          <a href="/member/join" class="Home_find_a1">회원가입</a> |
          <a href="/findMember" class="Home_find_a2">아이디/비밀번호 찾기</a><br>
        </div>
        <button class="Home_login_btn">로그인</button>
      </form>
    </div>
  </div>
  <script th:inline="javascript" th:if="${loginMessage}">
    alert([[${loginMessage}]])
  </script>
  <!-- 본문 끝-->
</section>
