<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/defaultLayout :: defaultLayout (~{::head}, ~{::title}, ~{::section})}">
<head></head>
<title>페이지를 찾을 수 없습니다</title>
<!-- 본문 시작 -->
<section>
  <div class="PageWrapper" style="text-align: center;">
    <div style="margin: 70px 0;"><img src="img/404.png" alt="404 오류"></div>
    <div style="margin-bottom: 50px; font-size: xx-large; font-weight: bolder; color: rgb(104, 104, 104);"><span>Page is not found!</span></div>
  </div>
</section>
