<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/defaultLayout :: defaultLayout (~{::head}, ~{::title}, ~{::section})}">
<head>
  <script src="/js/order/cart.js"></script>
  <link rel="stylesheet" href="/css/cart.css"/>
</head>

<title>해빗(habit) : 세상 모든 취미 여가의 시작</title>

<section>
  <!-- 본문 시작 -->
  <div class="Home">
    <h1 style="font-size: 20px; font-weight: bold; margin-top: 20px">
      장바구니
    </h1>
    <hr style="border-width: 1.5px" />

    <script>
      let sum1=0;
      let sum2=0;

      //onChange 이벤트 관련
      function myFunction(){
        let value = document.getElementById('').value;
        console.log(value);
      }

    </script>

    <form class="Home_form" action="payPage.html" name="cartlist" onsubmit="return checkCart()">
      <div>
        <button type="button" id="allCk" class="Home_choice_btn all_select">전체선택</button>
        <button type="button" id="selectedDel" class="Home_choice_btn all-delete" onclick="deleteCheck()">선택상품 삭제</button>
      </div>

      <table class="cartlist1" id="cartlist">
        <tr>
          <td class="img_td">
            <img src="/storage/" class="item_img">
          </td>
          <td class="pro_info">
            <div class="show_pro_info">
              <p>상품 이름</p>
              <p>상품 가격 : <span class="oneprice${one_status.index}">20,000 원</span></p>
              <p>상품 옵션명</p>
            </div>
          </td>
          <td>
            <div class="Home_show_qty">
              <input type="text" class="one${one_status.index} input_result" value="수량" readonly>
              <input type="button"   value="-" class="Home_qty_btn_min btn_min"/>
              <input type="button"  value="+" class="Home_qty_btn_plus btn_plus"/>
            </div>
            <div class="Home_show_checkBox">
              <input type="checkbox" id="oneck${one_status.index}" value="${item.cl_no}" onchange="calcAll()" class="Home_cart_check">
            </div>
          </td>
        </tr>
      </table>

      <div class="Home_show_result">
        <hr />
        <p style="font-size: larger; font-weight: bold; display:inline-block;padding-left: 20px;">합계금액 :
          <span class="totalPrice" style="padding-left: 20px;"></span> 원</p>
        <hr />

        <input type="button" value="결제하러가기" onclick="order()" class="go_order"/>


      </div>

    </form>
  </div>
  <!-- 본문 끝 -->
</section>