
.Home{
    height: 100%;
    width: 840px;
    margin: 0 auto;
    padding:0 100px;

}

.Home_myinfo{
    margin-top: 25px;
    margin-bottom: 30px;
    color: black;
}

.Home_myinfo_img{
    display: inline-block;
}

.Home_myinfo_name{
    display: inline-block;
    position: relative;
    font-weight: 600;
    top:-30px;
}

.Home_myinfo_img>img{
    width: 70px;
    height: 70px;
    margin-right: 8px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 100%;
}

.Home_myrecord{
    margin-bottom: 30px;
}

.Home_myrecord>a{
    color: black;
    font-size: 14px;
    display: inline-block;
    margin-right:38px;
}

.Home_myrecord_name{
    margin-bottom: 10px;
}

.Home_myrecord_num{
    font-weight: 600;
    padding-left: 5px;
}

/*===========마이 활동 정보*/

.Home_myact_name{
    font-size: 14px;
    color: rgb(152, 152, 152);
    margin-bottom: 30px;
}
.Home_myact_order{
    margin-bottom: 40px;
    font-weight: 500;
    color: black;
}

.Home_myact_friend1{
    display: inline-block;
    color: black;
    margin-bottom: 30px;
    font-weight: 500;
}

.Home_myact_friend2{
    display: inline-block;
    color: rgb(56, 66, 254);
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
    float: right;
}